.perfil{
    width: 749px;
    height: 528px;
    margin-left: 25%;
    margin-top: 80px;

    border: solid;
    border-width: 2px;
    border-radius: 20px;
}


@media only screen and (min-width: 960px) {
    .col-md-1{
        width: 12.499999995%;
        flex: 0 0 12.499%;
        max-width: 12.499%;
    }
}

.text-success {
    color: black !important;
}

.paginaCustom{
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
}

.botaoCadastrar{
    margin-top: 10px;
}

.border-success {
    border-color: #000000 !important;
}

.pb-2, .py-2 {
    padding-bottom: 1.5rem !important;
}