.informacao2{
    position: absolute;
    width: 618px;
    height: 120px;
    left: 465px;
    top: 180px;

    background: rgba(59, 156, 74, 0.6);
    border-radius: 20px;
}

.informacao2 p{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    width: 520px;
    padding-left: 50px;
}

/*-------------------------------------------------------*/

.pimenta{
    position: absolute;
    left: 300px;
    top: 290px;
  
    max-width: 230%;
    max-height: 230%;
    width: auto;
    height: auto;
}

.cultura1{
    position: absolute;
    width: 240px;
    height: 400px;
    left: 320px;
    top: 550px;

    background: rgba(59, 156, 74, 0.6);
    border-radius: 20px;
}

.botaoCaixa1{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 70px;
    top: 420px;

    background: rgba(21, 162, 178, 0.611);
    border-radius: 20px;
}

.botaoC1{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 70px;
    top: 460px;

    background: rgba(102, 178, 71, 0.647);
    border-radius: 20px;
}

/*-------------------------------------------------------*/

.cultura2{
    position: absolute;
    width: 240px;
    height: 400px;
    left: 640px;
    top: 550px;

    background: rgba(59, 156, 74, 0.6);
    border-radius: 20px;
}

.botaoCaixa2{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 70px;
    top: 420px;

    background: rgba(21, 162, 178, 0.611);
    border-radius: 20px;
}

.botaoC2{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 70px;
    top: 460px;

    background: rgba(102, 178, 71, 0.647);
    border-radius: 20px;
}

/*-------------------------------------------------------*/

.cultura3{
    position: absolute;
    width: 240px;
    height: 400px;
    left: 960px;
    top: 550px;

    background: rgba(59, 156, 74, 0.6);
    border-radius: 20px;
}

.botaoCaixa3{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 70px;
    top: 420px;

    background: rgba(21, 162, 178, 0.611);
    border-radius: 20px;
}

.botaoC3{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 70px;
    top: 460px;


    background: rgba(102, 178, 71, 0.647);
    border-radius: 20px;
}
/*-------------------------------------------------------*/

p{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

h2{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.texto{
    font-size: 17px;
}

/*-------------------------------------------------------*/

.caixa1{
    width: 217px;
    padding-left: 12px;
    justify-content: center;
    padding-top: 10px;
}

.caixa2{
    width: 217px;
    padding-left: 12px;
    justify-content: center;
    padding-top: 10px;
}

.caixa3{
    width: 217px;
    padding-left: 12px;
    justify-content: center;
    padding-top: 10px;
}

/*-------------------------------------------------------*/