.texto-informacao{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}

.borda {
    border: 2px black solid;
    border-radius: 22px !important;
    
}

.img-tamanho {
    height: 180px;
}

.cultura{
    height: 330px;
    background: rgba(41, 167, 221, 0.6);
    border-radius: 20px;
    margin-top:50px;
}

.btn4 {
    margin-top: 2.1em;
}

/*-------------------------------------------------------*/

p{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

h2{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.texto{
    font-size: 17px;
    margin: 16px;
}