.texto-informacao{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}

.borda {
    border: 2px black solid;
    border-radius: 22px !important;
}

.img-tamanho {
    height: 180px;
}

.cultura{
    height: 320px;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-top: 20px;
    background: rgba(59, 171, 220, 0.6);
}

.h2Cultura{
    background: #1bcc94cd;
    border-radius: 10px;
    
    height: 60px;
    margin-top: 20px;
    margin-left: 45px;
    width: 130px;
}

.cultura h2{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 10px;
    font-style: italic;
}

/*-------------------------------------------------------*/

p{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

h2{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.texto{
    font-size: 17px;
    margin: 16px;
}