.borda {
    border: 2px black solid;
    border-radius: 22px !important;
    
}

/*-------------------------------------------------------*/

.padrao{
    height: 430px;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    margin-top: 20px;
    background: rgba(59, 171, 220, 0.6);
}

.pt-4, .py-4 {
    padding-top: 1rem !important;
}

.p-2 li{
    padding-top: 15px;
    width: 200px;
    padding-left: 6px;
}

.btn1 {
    margin-top: 1em;
}

dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 1rem;
}

/*-------------------------------------------------------*/

p{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.padrao h2{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 10px;
    font-style: italic;
}

.h2CaixaP{
    background: #1bcc94cd;
    border-radius: 10px;
    
    height: 60px;
    margin-top: 20px;
    margin-left: 45px;
    width: 130px;
}

.h2CaixaC{
    background: #1bcc94cd;
    border-radius: 10px;
    
    height: 60px;
    margin-top: 20px;
    margin-left: 8px;
    width: 205px;
}

.h2CaixaM{
    background: #1bcc94cd;
    border-radius: 10px;
    
    height: 60px;
    margin-top: 20px;
    margin-left: 40px;
    width: 140px;
}

.texto{
    font-size: 17px;
}

/*-------------------------------------------------------*/

.caixa-lista{
    text-align: center;
    list-style-type: none;
}

.caixa-lista ul li{
    list-style-type: none;
}


/*-------------------------------------------------------*/