.informacao{
    position: absolute;
    width: 618px;
    height: 120px;
    left: 465px;
    top: 180px;

    border-radius: 20px;
    border: solid;
    border-color: black;
}

.informacao p{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    width: 575px;
    padding-left: 50px;
    padding-top: 22px;
}

/*-------------------------------------------------------*/

.padrao{
    position: absolute;
    width: 240px;
    height: 550px;
    left: 320px;
    top: 400px;

    background: rgba(41, 167, 221, 0.6);
    border-radius: 20px;
}

.padrao h2{
    margin-top: 10px;
}

.botao1{
    position: absolute;
    width: 90px;
    height: 30px;
    left: 396px;
    top: 960px;

    border-radius: 20px;
    text-decoration: none;
    border: solid;
    border-color: black;
    border-width: 2px;
}

/*-------------------------------------------------------*/

.customizado{
    position: absolute;
    width: 240px;
    height: 550px;
    left: 640px;
    top: 400px;

    background: rgba(41, 167, 221, 0.6);
    border-radius: 20px;
}

.customizado h2{
    margin-top: 10px;
}

.botao2{
    position: absolute;
    width: 90px;
    height: 30px;
    left: 716px;
    top: 960px;

    border-radius: 20px;
    text-decoration: none;
    border: solid;
    border-color: black;
    border-width: 2px;
}

/*-------------------------------------------------------*/

.manual{
    position: absolute;
    width: 240px;
    height: 550px;
    left: 960px;
    top: 400px;

    background: rgba(41, 167, 221, 0.6);
    border-radius: 20px;
}

.manual h2{
    margin-top: 10px;
}

.botao3{
    position: absolute;
    width: 90px;
    height: 30px;
    left: 1036px;
    top: 960px;

    border-radius: 20px;
    text-decoration: none;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.botao3

/*-------------------------------------------------------*/

p{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

h2{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 10px;
}

.texto{
    font-size: 17px;
}

/*-------------------------------------------------------*/

.caixaP{
        width: 217px;
        justify-content: center;
        padding-top: 70px;
        padding-right: 13px;
}

.caixaP li{
    line-height: 20px;
    text-align: center;
    list-style-type: none;
}

.caixaC{
    width: 217px;
    justify-content: center;
    padding-top: 30px;
    padding-right: 13px;
}

.caixaC li{
    line-height: 20px;
    text-align: center;
    list-style-type: none;
}

.caixaM{
    width: 217px;
    justify-content: center;
    padding-top: 60px;
    padding-right: 13px;
}

.caixaM li{
    line-height: 20px;
    text-align: center;
    list-style-type: none;
}

/*-------------------------------------------------------*/