.height-projeto {
    height: 300px !important;
    
}

.bg-quadrado-projeto {
    background: #24b386;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.bg-body {
    background-color: #E8F0E4;
}

.display-18{
    font-size: 18px;
    margin-top: -12px;
}

.ajustar-texto-projeto {
    margin-top: 115px;
    font-size: 55px;
    font-family: 'Imbue';    
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.ajustar-fonte {
    font-family: 'Imbue'; 
}

.height-projeto h2 {
    padding-top: 45px;
}

.borda {
    border: 2px black solid;
    border-radius: 20px !important;
    
}
  
.textoQua{
    font-family: 'Imbue';
    font-style: normal;
    text-align: center;
    margin: 20px;
}

.textoQua p{
    font-size: 20px;
}
/*-------------------------------------------------------*/

