header{
    position: absolute;
    width: 100%;
    height: 130px;
    margin: 0 auto;
  
    background: rgba(59, 156, 74, 0.6);
}
  
.logo{
    font-size: 50px;
    padding-left: 15%;
    font-family: 'IM FELL Great Primer';
}
  
.logo::first-letter{
    color: #2E45BD;
}
  
nav{
    position: absolute;
    top: 35px;
    right: 15%;
}
  
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
  
nav li{
    display: inline;
    margin: 0 0 0 15px;
}