.bg-nav{
    background: rgba(59, 156, 74, 0.6);
}


ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

ul li a:hover {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
  
 .logo{
    font-size: 50px;
    padding-left: 15%;
    font-family: 'IM FELL Great Primer';
    padding-top: 0px;
    margin-top: 7px;
}
  
.logo::first-letter{
    color: #2E45BD;
}

.navbar-nav{
    padding-left: 60%;
}